<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nomachetejuggling.ssl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nomachetejuggling.ssl.ExerciseListActivity"
            android:label="@string/title_exercise_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nomachetejuggling.ssl.AddActivity"
            android:label="@string/title_activity_add"
            android:parentActivityName="com.nomachetejuggling.ssl.ExerciseListActivity"
            android:windowSoftInputMode="stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nomachetejuggling.ssl.ExerciseList" />
        </activity>
        <activity
            android:name="com.nomachetejuggling.ssl.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName="com.nomachetejuggling.ssl.ExerciseListActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nomachetejuggling.ssl.ExerciseList" />
        </activity>
        <activity
            android:name="com.nomachetejuggling.ssl.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.nomachetejuggling.ssl.ExerciseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nomachetejuggling.ssl.ExerciseListActivity" />
        </activity>
        <activity
            android:name="com.nomachetejuggling.ssl.DropDownActivity"
            android:label="@string/title_activity_drop_down" >
        </activity>
    </application>

</manifest>
